<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RespuestasSII.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RespuestasSII.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RespuestasSII.Properties.Settings>
            <setting name="CertPath" serializeAs="String">
                <value>D:\Trabajo\IntercambioBCI_WS\Proceso\certificado_digital_firmante_efactura.p12</value>
            </setting>
            <setting name="CertPass" serializeAs="String">
                <value>bcicacho</value>
            </setting>
            <setting name="RespuestasSII_cl_sii_semilla_CrSeedService" serializeAs="String">
                <value>https://palena.sii.cl/DTEWS/CrSeed.jws</value>
            </setting>
            <setting name="RespuestasSII_cl_sii_token_GetTokenFromSeedService"
                serializeAs="String">
                <value>https://palena.sii.cl/DTEWS/GetTokenFromSeed.jws</value>
            </setting>
            <setting name="RespuestasSII_cl_sii_queryEstDte_QueryEstDteService"
                serializeAs="String">
                <value>https://palena.sii.cl/DTEWS/QueryEstDte.jws</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value>http://192.168.0.50:3128/</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value>hfigueroa</value>
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value>hfi-2012</value>
            </setting>
            <setting name="DtePath" serializeAs="String">
                <value>D:\Trabajo\IntercambioBCI_WS\Proceso\XMLs</value>
            </setting>
        </RespuestasSII.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RespuestasSII.Properties.Settings>
            <setting name="RequiereProxy" serializeAs="String">
                <value>S</value>
            </setting>
        </RespuestasSII.Properties.Settings>
    </userSettings>
</configuration>