<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntercambioRespuestasSII.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BD" value="Database=INTERCAMBIO;Server=192.168.23.209;User ID=sa;Password=sa;" />
    <add key="IN" value="C:\IntercambioWS_BCI\DTE"/>
    <add key="OUT" value="C:\IntercambioWS_BCI\Resp_SII"/>
    
    
    <!-- Genera Journal -->
    <add key="Emisor" value="intercambiobci@jordan.cl" />
    <!--add key="Receptor" value="caranguiz@jordan.cl" />
    <add key="Copias" value="caranguiz@jordan.cl,caranguiz@jordan.cl" /-->
    <!-- Genera Journal -->

  </appSettings>
  <applicationSettings>
    <IntercambioRespuestasSII.My.MySettings>
      <setting name="IntercambioRespuestasSII_WebReference_zservicios_fe_v1"
        serializeAs="String">
        <value>http://161.131.140.82:8000/sap/bc/srt/rfc/sap/zservicios_fe_v1/300/zservicios_fe_v1/zservicios_fe_v1</value>
      </setting>
    </IntercambioRespuestasSII.My.MySettings>
  </applicationSettings>
</configuration>