<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntercambioRespuestasSII.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntercambioRespuestasSII.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BD"	value="Database=MONITOR_BCI_DB;Server=192.168.43.45;User ID=demo;Password=demo2017*;" />
    <add key="IN" value="D:\Trabajo\IntercambioBCI_WS\Proceso\XMLs"/>
    <add key="OUT" value=""/>
  </appSettings>
  <applicationSettings>
    <IntercambioRespuestasSII.My.MySettings>
      <setting name="IntercambioRespuestasSII_WebReference_zservicios_fe_v2"
        serializeAs="String">
        <value>http://161.131.232.99:8000/sap/bc/srt/rfc/sap/zservicios_fe_v2/300/zservicios_fe_v2/zservicios_fe_v2</value>
      </setting>
    </IntercambioRespuestasSII.My.MySettings>
  </applicationSettings>
  <userSettings>
    <IntercambioRespuestasSII.My.MySettings>
      <setting name="CertPath" serializeAs="String">
        <value>D:\Trabajo\IntercambioBCI_WS\Proceso\certificado_digital_firmante_efactura.p12</value>
      </setting>
      <setting name="CertPass" serializeAs="String">
        <value>viveenmovimiento</value>
      </setting>
      <setting name="RespuestasSII_cl_sii_semilla_CrSeedService" serializeAs="String">
        <value>https://palena.sii.cl/DTEWS/CrSeed.jws</value>
      </setting>
      <setting name="RespuestasSII_cl_sii_token_GetTokenFromSeedService"
        serializeAs="String">
        <value>https://palena.sii.cl/DTEWS/GetTokenFromSeed.jws</value>
      </setting>
      <setting name="RespuestasSII_cl_sii_queryEstDte_QueryEstDteService"
        serializeAs="String">
        <value>https://palena.sii.cl/DTEWS/QueryEstDte.jws</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value>http://192.168.0.50:3128/</value>
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value>caranguiz</value>
      </setting>
      <setting name="ProxyPass" serializeAs="String">
        <value>caz1460</value>
      </setting>
      <setting name="DtePath" serializeAs="String">
        <value>D:\Trabajo\IntercambioBCI_WS\Proceso\XMLs</value>
      </setting>
      <setting name="RequiereProxy" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="DtePathProcOK" serializeAs="String">
        <value>D:\Trabajo\IntercambioBCI_WS\Proceso\PROCESADO</value>
      </setting>
      <setting name="maximoIntentos" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DtePathProcNOK" serializeAs="String">
        <value>D:\Trabajo\IntercambioBCI_WS\Proceso\Rechazo</value>
      </setting>
      <setting name="VidaSemillaMil" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DteEstOK" serializeAs="String">
        <value>DTE Recibido</value>
      </setting>
      <setting name="DteLogEnvio" serializeAs="String">
        <value>D:\Trabajo\IntercambioBCI_WS\Proceso\Log</value>
      </setting>
      <setting name="WsBCI_Carga" serializeAs="String">
        <value>S</value>
      </setting>
    </IntercambioRespuestasSII.My.MySettings>
  </userSettings>
</configuration>